<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew's Book Notes</title>
</head>
<body>
    <header>
        <a href="/" title="Andrew Sipovac">Andrew Sipovac</a>
    </header>
    <main>
        <header>
            <h1>Book's I've Read</h1>
            <p>Small summary and detailed notes for each book. This page will periodically update, so check back later for updates.</p>
        </header>

        <p id="sorters">
            Sorted with my top recommendations first. Sort by <a href="/book?sort=title" id="sort-title">title</a>
            ", "
            <a href="/book?sort=date" id="sort-date">newest</a>
            ", "
            <a href="/book?sort=rating" id="sort-rating">best</a>
            ". "
        </p>
        <p>If you have any questions, feel free to <a href="">email me</a>.</p>
    </main>
</body>
</html>